/* ABOUT US -------------------------------------------------- */
.aboutBanner {
	background-image: url(../assets/images/slide-01.webp);
	background-size: cover;
}

.misVisVal {
	max-width: fit-content;
	max-height: 150px;
}
/* END ABOUT US -------------------------------------------------- */
