/* ABOUT US -------------------------------------------------- */

.misVisVal {
	max-width: fit-content;
	max-height: 150px;
}

.whoWeAreSeccion {
	img {
		width: 100%; /* or max-width: 100%; */
		height: auto;
	}
}

/* END ABOUT US -------------------------------------------------- */
