/* JUMBOTRON ----------------------------------------------------- */
.jumbotron {
	background-image: url(../assets/images/slide-02.webp);
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: end;
	.jumboText {
		h1 {
			color: #fbc500;
			text-shadow: 0 0 5px #000;
		}

		p {
			text-align: justify;
		}
	}
}

@media only screen and (max-width: 575px) {
	.jumbotron {
		h2 {
			font-size: 20px;
		}
	}
}
/* END JUMBOTRON -------------------------------------------------- */
