/*START ANIMATIONS ------------------------------------------- */
/*START ANIMATED BUTTON -------------------------------------- */

/* Variables use ----------------------------------------------*/
$animationType: pulse;
$duration: 1.5s;
$repetition: infinite;
$scale: 1;
/* End Variables use ----------------------------------------------*/

.btnAnimated {
	/* creo la animación nombre=pulse dura 1.5s y se repite */
	// animation: pulse 1.5s infinite;
	animation: $animationType $duration $repetition;
}
/* una vez creada la animación, debo crear los keyframes */

@keyframes pulse {
	/* voy dando estilos en cada momento de la animación */
	/* 0% es antes de que empiece */
	0% {
		/* con esto hago que el boton se haga apenas seis puntos pequeño (1 es igual, 1.5 es un 50% mas grande, 0.5 es un 50% mas chico, etc etc) */

		transform: scale($scale - 0.06);

		/* tambien agrego una pequeña sombra con transparencia */
		box-shadow: 0 0 0 0 rgba(250, 249, 249, 0.15);
	}

	/* ahora avanzo en la animación hasta el 70% */
	70% {
		/* con esto hago que el boton se haga de tamaño normal (1 es igual, 1.5 es un %0% mas grande, 0.5 es un 50% mas chico, etc etc) */
		transform: scale($scale);
		/* tambien agrego una pequeña sombra con transparencia  */
		box-shadow: 0 0 0 7px rgba(250, 249, 249, 0.2);
	}

	/* ahora configuro el final de la animacion */
	100% {
		/* con esto hago que el boton se haga apenas seis puntos pequeño (1 es igual, 1.5 es un %0% mas grande, 0.5 es un 50% mas chico, etc etc) */
		transform: scale($scale - 0.06);
		/* tambien agrego una pequeña sombra con transparencia  */
		box-shadow: 0 0 0 0 rgba(250, 249, 249, 0.15);
	}
}
/*END ANIMATED BUTTON -------------------------------------- */

/*START ANIMATED SLIDE ------------------------------------- */
@keyframes slide {
	from {
		transform: translate(0);
	}
	to {
		transform: translateX(-100%);
	}
}
/*END ANIMATED SLIDE ---------------------------------------- */

/*END ANIMATIONS -------------------------------------------- */
